<div class="container">
  <h1 class="text-primary text-center pt-3">Dynamic Table using Angular</h1>
      <form [formGroup] = "userForm" (ngSubmit) = "onSubmit()">
        <div class="form-group mt-2 mb-2">
          <label for="id">Id: </label>
          <input type="number" class="form-control" min="11" name="name"  formControlName="id" required>
        </div>
        <div class="form-group mt-2 mb-2">
          <label for="name">Name: </label>
          <input type="text" class="form-control" name="age" formControlName="name" required>
        </div>
        <div class="form-group mt-2 mb-2">
          <label for="email">Email: </label>
          <input type="email" class="form-control" name="city" formControlName="email" required>
        </div>
        <div class="form-grop">
          <button class="btn btn-primary d-block" type="submit">Add</button>
        </div>
      </form>
    


</div>
<div class="container mt-5">
  <table class="table table-dark table-responsive">
    <thead class="text-center">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let user of userData">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
  
